{% extends "layout.html" %}

{% block style %}
<style>
.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn {
    background-color: rgb(90, 190, 193);
    color: white;
}
</style>
{% endblock %}

{% block body %}
<h1>Sign up</h1>

<div class="container center">
    <div class="row">

        <div class="col-3"></div>

        <div class="col-6">

            <form action="#" method="post">
               
                <p><input type="text" placeholder="username" name="username" class="form-control"/></p>
                <p><input type="text" placeholder="email" name="email" class="form-control"/></p>
                <p><input type="password" placeholder="password"  name="pass" class="form-control"/></p>
                <p><input type="password" placeholder="confirm"  name="confirm" class="form-control"/></p>
                
                <center><p><input type="submit" value="Sign up" class="btn" /></p></center>
                     
            </form>

        </div>

        <div class="col-3"></div>

    </div>

</div>
{% endblock %}
